<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBV_oYRS4S5lQvFnAIFNVvZxrPvxyPgrWw</string>
	<key>GCM_SENDER_ID</key>
	<string>268800271427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelJournal</string>
	<key>PROJECT_ID</key>
	<string>travel-journal-a22b6</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-journal-a22b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268800271427:ios:c4680d8e29f61d167a60f6</string>
</dict>
</plist>